<button mat-raised-button (click)="listColumn($event)"> List column </button>

<mat-form-field appearance="fill">
  <mat-label> Show Columns</mat-label>
  <mat-select [formControl]="showCols" multiple (valueChange)="listColumn($event)">
    <mat-option *ngFor="let topping of columnsToDisplay" [value]="topping">{{topping}}

    </mat-option>
  </mat-select>
</mat-form-field>

<!-- <select

(ngModelChange)="listColumn()"
>
<option value="-1">Select Gallery Categroy</option>

<option *ngFor="let id of displayedColumns" [value]="id">

  <input type="checkbox" [checked]="">
  {{ id }}
</option>
</select> -->

<!-- <div *ngFor="let user_id of filterdUsers; let i = index; trackBy: trackByFn">
  <input type="checkbox" name="something{{i}}" class="something{{i}}"  [checked]= "something === model.user_id"  [(ngModel)]="model.user_id" [value] = "user_id._id" (click)="onCheckClick($event, user_id)"> {{user_id.username}}
</div> -->

<button mat-raised-button (click)="addColumn()"> Add column </button>
<button mat-raised-button (click)="removeColumn()"> Remove column </button>
<button mat-raised-button (click)="shuffle()"> Shuffle </button>

<!-- <table mat-table [dataSource]="data" class="mat-elevation-z8"> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let ii = index" matColumnDef="{{ column }}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>



  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(displayedColumnsExtra)"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(displayedColumnsExtra)"></tr> -->

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>


  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
</table>

<pre style="background-color: pink;">
  <!-- this.displayedColumns= {{this.displayedColumns}} -->
  columnsToDisplay= {{this.columnsToDisplay}}
  displayedColumns= {{displayedColumns}}
  <!-- <li *ngFor="let item of displayedColumnsAll; index as i; ">{{item}}</li> -->
  <li *ngFor="let item of displayedColumns; index as i; ">{{item}}</li>

  col Names = {{displayedColumns}}
  {{users|json}}
</pre>
