<!-- <button mat-raised-button (click)="listColumn($event)">List column</button> -->

<mat-form-field appearance="fill">
  <mat-label> Show/Remove Columns</mat-label>
  <mat-select
    [formControl]="showCols"
    multiple
    (valueChange)="listColumn($event)">
    <mat-option *ngFor="let topping of displayedColumns" [value]="topping"
      >{{topping}}
    </mat-option>
  </mat-select>
</mat-form-field>


<!-- <button mat-raised-button (click)="addColumn()"> Add column </button>
<button mat-raised-button (click)="removeColumn()"> Remove column </button> -->
<button mat-raised-button (click)="shuffle()">Shuffle</button>
<button mat-raised-button (click)="shuffle()">Collaspe</button>

<!-- <table mat-table [dataSource]="data" class="mat-elevation-z8"> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <ng-container
    [matColumnDef]="column"
    *ngFor="let column of displayedColumns; let ii = index"
    matColumnDef="{{ column }}"
  >
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column}}</th>
    <td mat-cell *matCellDef="let element">{{element[column]}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>

<pre style="background-color: pink">
  <!-- this.displayedColumns= {{this.displayedColumns}} -->
  columnsToDisplay= {{this.columnsToDisplay}}
  displayedColumns= {{displayedColumns}}
  <!-- <li *ngFor="let item of displayedColumnsAll; index as i; ">{{item}}</li> -->
  <li *ngFor="let item of displayedColumns; index as i; ">{{item}}</li>

  col Names = {{displayedColumns}}
  {{users|json}}
</pre>
