<!-- <button (click)="addItem()">Add Item</button> -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <ng-container *ngFor="let item of displayedColumns; let ii = index" matColumnDef="{{ item }}">
    <!-- <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th> -->
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ item }}</th>
    <td mat-cell *matCellDef="let element">{{ element[item] }}</td>
    <!-- <td mat-cell *matCellDef="let element"> {{element.name}} </td> -->
  </ng-container>

  <!-- <ng-container matColumnDef="action"> -->
  <ng-container *ngFor="let item of displayedColumnsExtra; let ii = index" matColumnDef="{{ item }}">
    <th mat-header-cell *matHeaderCellDef> {{ item }} </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button (click)="editUser(item, element)">{{item}}</button>
      <!-- <mat-icon (click)="editUser(element)">edit</mat-icon> -->
    </td>
  </ng-container>

  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumnsAll"></tr> -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(displayedColumnsExtra)"></tr>
  <!-- <tr mat-row *matRowDef="let row; columns: displayedColumnsAll"></tr> -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(displayedColumnsExtra)"></tr>
</table>

<pre>
  {{displayedColumns}}
  <!-- <li *ngFor="let item of displayedColumnsAll; index as i; ">{{item}}</li> -->
  <li *ngFor="let item of displayedColumns.concat(displayedColumnsExtra); index as i; ">{{item}}</li>

  col Names = {{displayedColumns}}
fld name = {{getZZZ(0)}}
  {{users|json}}
</pre>
