<h2 mat-dialog-title>Personalize Dashboard </h2>
<mat-dialog-content class="mat-typography">
<hr/>
  <div style="display: flex;">
    <ul style="flex: 1;">
      <li style="background-color: rgb(209, 192, 192);"> LEFT </li>
      <li *ngFor="let link of '12ave345'.split(''); index as idx"><input type="checkbox">
        Item {{idx + 1}}</li>
    </ul>

    <ul style="flex: 1;">
      <li *ngFor="let link of ['Select All','Right','Left','Remove All']; index as idx">
        <button> {{link}}</button>
      </li>
    </ul>

    <ul style="flex: 1;">
      <li style="background-color: rgb(94, 175, 94);">RIGHT</li>
      <li *ngFor="let link of '12345'.split(''); index as idx">
        <input type="checkbox">
        Item {{idx + 1}}</li>
    </ul>
  </div>

  <hr/>

  <h3>Instructions</h3>
  <p>Bla bla bla .... features quickly with simple, declarative templates. Extend the template language with
    your own components and use a wide array of components. Get immediate Angular-specific
    help and feedback with nearly every IDE and editor. All this comes together so you can focus
    on building amazing apps rather than trying to make the code work.</p>

  <h3>Style 001</h3>
  <p>List of cols. Select the ones to hide</p>

  <h3>Sytle 002</h3>
  <p>List one, two like Service Now.
  </p>

  <hr/>
  <h3>Style 003</h3>
  <p>list 1,2 move left right.</p>

  <div style="display: flex;">

    <ul style="flex: 1;">
        <li style="background-color: rgb(209, 192, 192);"> LEFT </li>

        <div style="background-color: grey;" class="card-body overflow-auto py-0">
          <ul class="list-group list-group-flush"  *ngFor="let child of gData.left" name="agentNotInGroup">
            <li class="list-group-item {{isInActiveItems(child) ? 'active' : ''}}" (click)="toggleActiveItem(child)">
              <input type="checkbox"> {{child.value}}
            </li>
          </ul>
        </div>
      </ul>

      <ul style="flex: 1;">
        <li *ngFor="let link of this.actionButtons; index as idx">
          <button id="{{link.id}}" (click)="moveToXYZ($event)"> {{link.label}}</button>
        </li>
      </ul>

      <ul style="flex: 1;">
        <li style="background-color: rgb(94, 175, 94);">RIGHT</li>

                <div style="background-color: rgb(219, 154, 154);" class="card-body overflow-auto py-0">
                  <ul class="list-group list-group-flush" *ngFor="let child of gData.right"   name="agentInGroup">
                    <li class="list-group-item {{isInActiveItems(child) ? 'active' : ''}}" (click)="toggleActiveItem(child)">
                      <input type="checkbox">
                      {{child.value}}
                    </li>
                  </ul>
                </div>
      </ul>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="data">Apply</button>
  <button mat-button [mat-dialog-close]="false">Cancel</button>
  <button mat-button [mat-dialog-close]="gData" cdkFocusInitial>Install</button>
</mat-dialog-actions>



