<form [formGroup]="formSection">
<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content style="background-color: blanchedalmond;" class="dashboard-card-content">
          <div>Card Content Here</div>
          sw/ on {{card.title}}
          <container-element [ngSwitch]="card.title">

            <!-- app-accordian', -->
            <app-accordian *ngSwitchCase="'app-accordian'"></app-accordian>
            <!-- <app-address *ngSwitchCase="'Card 1'"></app-address><app-address *ngSwitchCase="'Card 1'"></app-address> -->

            <!-- Address -->
          <app-address *ngSwitchCase="'app-address'" formGroupName="address"></app-address>

          <!-- <app-address *ngSwitchDefault formGroupName="address"></app-address> -->
          <span *ngSwitchDefault> nothing to see yet!</span>
          <!-- <app-page-not-found *ngSwitchDefault></app-page-not-found> -->
        </container-element>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
</form>
